/*html, body {
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}*/

.fa {
    color: #0EBFE9;
}

.container {
    opacity: 0.9;
}