<!doctype html>
<html>
<head>
	<title>Telebook</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link href="assets/favicon.ico" rel="icon" type="image/x-icon" />
	<!--link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
	<script src="bower_components/ionic/release/js/ionic.bundle.js"></script-->
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.username %><br>
						<strong>password</strong>: <%= user.password %>
					</p>

			</div>
		</div>

	</div>

	<div class="content">
		<!--ion-header-bar>
			// frame contents here
		</ion-header-bar>
	</div>

</div>
</body>
</html>
